<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/login_regist.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src='__PUBLIC__/js/bootstrap.min.js'></script>
</head>
<body>
<div class="container">
	<form method="POST" class="form-signin">
		<h2 class="form-signin-heading">Please sign in</h2>
		<input type="text" name="user_email" placeholder="email" class="input-block-level"><br>
		<input type="password" name="user_password" placeholder='password' class="input-block-level"><br>
		<label class="checkbox">
			<input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
		<a class="btn" href="regist">if not exists</a>
	</form>
</div>
</body>
</html>